In [1]:
import pandas as pd
import numpy as np
import os, sys, gzip, pyarrow.parquet

Local_google_drive = "/Users/siavash/Library/CloudStorage/GoogleDrive-siavash.jafarizadeh@gmail.com/.shortcut-targets-by-id/1BA94HYNI6NLWOcU5Ts7Nfso4uuVjrDwp/deeplearning2026"

In [6]:
print(pd.io.parquet.get_engine('auto')) 
print('hello')

<pandas.io.parquet.PyArrowImpl object at 0x10d0f27b0>
hello

In [10]:
df = pd.read_parquet('FNDDSeverything.parquet.gzip')

df.info()
df.describe().T

<class 'pandas.DataFrame'>
RangeIndex: 480176 entries, 0 to 480175
Data columns (total 92 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   description       480176 non-null  str
 1   ALA_G             2408 non-null    float64
 2   ARA_G             154 non-null     float64
 3   B12_UG            22124 non-null   float64
 4   B1_MG             25807 non-null   float64
 5   B2_MG             38109 non-null   float64
 6   B3_MG             41473 non-null   float64
 7   B5_MG             13908 non-null   float64
 8   B6_MG             31844 non-null   float64
 9   B7_UG             1348 non-null    float64
 10  B9_UG             26260 non-null   float64
 11  B_UG              822 non-null     float64
 12  CHO1_G            436060 non-null  float64
 13  CHOfiber1_G       270661 non-null  float64
 14  CHOstarch_G       1975 non-null    float64
 15  CHOsugar_G        696 non-null     float64
 16  Ca_MG             303735 non-null  float64
 17  Cl_MG             508 non-null     float64
 18  Co_UG             822 non-null     float64
 19  Cr_UG             623 non-null     float64
 20  Cu_MG             19672 non-null   float64
 21  DHA_G             3106 non-null    float64
 22  DPA_G             4146 non-null    float64
 23  EPA_G             3844 non-null    float64
 24  F_UG              501 non-null     float64
 25  Fe_MG             301387 non-null  float64
 26  I_UG              2218 non-null    float64
 27  K_MG              219190 non-null  float64
 28  MUFA_G            60326 non-null   float64
 29  Mg_MG             30235 non-null   float64
 30  Mn_MG             11872 non-null   float64
 31  Mo_UG             1528 non-null    float64
 32  Na_MG             420509 non-null  float64
 33  Ni_UG             822 non-null     float64
 34  PUFA_G            58496 non-null   float64
 35  P_MG              29933 non-null   float64
 36  S_MG              822 non-null     float64
 37  Se_UG             15831 non-null   float64
 38  Zn_MG             27549 non-null   float64
 39  alanine_G         5151 non-null    float64
 40  alcohol_G         167 non-null     float64
 41  arginine_G        5202 non-null    float64
 42  aspartate_G       5005 non-null    float64
 43  caffeine_MG       896 non-null     float64
 44  category          479720 non-null  str
 45  cholesterol_MG    185519 non-null  float64
 46  cysteine_G        84 non-null      float64
 47  cystine_G         4947 non-null    float64
 48  data_type         480072 non-null  str
 49  fructose_G        1534 non-null    float64
 50  glucose_G         1695 non-null    float64
 51  glutamate_G       5156 non-null    float64
 52  glycine_G         5149 non-null    float64
 53  histidine_G       5221 non-null    float64
 54  hydroxyproline_G  1265 non-null    float64
 55  insol_fiber_G     4094 non-null    float64
 56  isoleucine_G      5227 non-null    float64
 57  kcal1_KCAL        457489 non-null  float64
 58  lactose_G         461 non-null     float64
 59  leucine_G         5223 non-null    float64
 60  lycopene_UG       1196 non-null    float64
 61  lysine_G          5242 non-null    float64
 62  maltose_G         748 non-null     float64
 63  methionine_G      5237 non-null    float64
 64  phenylalanine_G   5225 non-null    float64
 65  proline_G         5143 non-null    float64
 66  protein_G         371362 non-null  float64
 67  pufa_18_2_n6_G    2356 non-null    float64
 68  pufa_18_3_n6_G    1163 non-null    float64
 69  pufa_20_2_n6_G    1948 non-null    float64
 70  pufa_20_3_n3_G    643 non-null     float64
 71  pufa_20_3_n6_G    1219 non-null    float64
 72  pufa_20_4_G       7165 non-null    float64
 73  sat_fat_G         292898 non-null  float64
 74  serine_G          5149 non-null    float64
 75  sol_fiber_G       4003 non-null    float64
 76  sucrose_G         1477 non-null    float64
 77  taurine_G         5 non-null       float64
 78  threonine_G       5224 non-null    float64
 79  total_choline_MG  10164 non-null   float64
 80  total_fat_G       354144 non-null  float64
 81  total_vit_d_IU    28791 non-null   float64
 82  total_vit_d_UG    11859 non-null   float64
 83  total_vit_e_mg    14098 non-null   float64
 84  trans_fat_G       16989 non-null   float64
 85  tryptophan_G      5152 non-null    float64
 86  tyrosine_G        5168 non-null    float64
 87  valine_G          5227 non-null    float64
 88  vit_a_IU          103512 non-null  float64
 89  vit_c_MG          102033 non-null  float64
 90  vit_k_UG          12503 non-null   float64
 91  water_G           15953 non-null   float64
dtypes: float64(89), str(3)
memory usage: 373.9 MB

,count,mean,std,min,25%,50%,75%,max
nameunit,,,,,,,,
ALA_G,2408.0,0.301425,1.799161e+00,0.000625,0.020,0.062,0.16600,5.336800e+01
ARA_G,154.0,0.046617,7.008372e-02,0.010000,0.021,0.027,0.03775,6.700000e-01
B12_UG,22124.0,5229.231781,5.506360e+05,0.010000,0.400,1.250,3.21000,6.578947e+07
B1_MG,25807.0,1.308096,2.436766e+01,0.001000,0.083,1.000,1.00000,3.000000e+03
B2_MG,38109.0,1.166698,1.038360e+02,0.001000,0.131,0.260,0.45500,2.000000e+04
...,...,...,...,...,...,...,...,...
valine_G,5227.0,3.365094,1.086277e+02,0.002000,0.260,0.790,1.20550,5.110714e+03
vit_a_IU,103512.0,21585.275620,2.723966e+06,1.000000,208.000,411.000,1029.00000,8.000000e+08
vit_c_MG,102033.0,52.168800,1.149618e+03,0.010000,2.700,7.500,21.40000,2.100000e+05
vit_k_UG,12503.0,53.309567,6.182000e+02,0.100000,1.800,5.900,19.85000,4.918030e+04
water_G,15953.0,54.414443,3.969984e+01,0.010000,29.690,63.080,78.01000,2.475000e+03